<a href="https://colab.research.google.com/github/andresgarcia108/ejercicios_For/blob/main/ejercicios_For.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instrucción repetitiva for

In [ ]:
# Ejercicio 1 : Mostrar los números del 1 al 10 sin usar instrucciones repetitivas

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:
# Ejercicio 2 : Mostrar los números del 1 al 10 usando la instrucción repetitiva while

i = 0
while i <10:
  i+=1
  print(i)

In [ ]:
# Ejercicio 3: Mostrar los números del 1 a 10 usando for y una lista

for i in [1,2,3,4,5,6,7,8,9,10]:
  print(i)

In [ ]:
# Ejercicio 4: Mostrar los números del 1 al 10 usando for y la función range

for i in range (1,11):
  print(i)

In [ ]:
# Ejercicio 5: Mostrar una frase 10 veces usando la instrucción for y una lista

lista = [1,2,3,4,5,6,7,8,9,10]
for i in lista:
  print(f"{i} Sistemas el mejor")

In [ ]:
# Ejercicio 6: Mostrar la sílaba inicial de los días de la semana usando for y una lista con la sílaba inicial de los días de la semana

dias_semana = ["Lu", "Ma", "Mi", "Ju", "Vi", "Sa", "Do"]
for i in dias_semana:
  print(i)

In [ ]:
# Ejercicio 7: Mostrar una lista de distintos tipos de datos usando for

lista = [1, 3.4, 9, True, "Andrés", 22, "Guanentá"]

for i in lista:
  print(i)

In [ ]:
# Ejercicio 8: Ingresar su nombre y mostrarlo letra por letra usando for

nombre = input("Digite su nombre: ")
for i in nombre:
  print(i)

In [ ]:
# Ejercicio 9: Ingresar su nombre y mostrarlo letra a letra usando for, pero cambiando por * la vocal e

nombre = input("Digite su nombre: ")
for letra in nombre:
  if letra == "e" or "é":
    print("*")
  else:
    print(letra)

In [ ]:
# Ejercicio 10: Ingresar su nombre y mostrarlo letra a letra en mayúscula usando for

nombre = input("Digite su nombre: ")
for letra in nombre:
  print(letra.upper())

In [ ]:
# Ejercicio 11: Imprimir listas de números usando range y for

print("Mostrar números del 0 al 9")

for i in range(10):
  print(i)

print ("Mostrar números del 1 al 10")

for i in range(11):
  print(i)

print("10 veces una frase")

for i in range(10):
  print("Sistemas el mejor")

print("10 veces la frase i = ")

for i in range(10):
  print(f" i = {i}")

print("Rango del 7 al 18 incrementando de 4 en 4")
for i in range(7, 19 ,4):
  print(i)

print("Convierte rango en lista a y la muestra")

a = list(range(1000))
print(a)